.grid-container{
    background-color: rgb(255, 253, 253);
}

#form-contacto {
    background-image: url(../SRC/img/Blackhand.png);
    background-color: #332902;
    background-position: center;
    background-size: cover;
    color: rgb(255, 251, 251);
    padding: 50px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: normal;
    border-radius:10px;
    margin-top:10px;
    margin-bottom: auto;
    position: relative;
    width: 650px;
    height: 650px;

}
.container-form{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.mb-5 {
    margin: 15px 15px;
    padding: 15px;
}

#move {
    padding-left: 40%;
    margin-top:25px;
    color: rgb(230, 41, 41);
    font-family: 'Lilita One', sans-serif;
    font-weight: 400px;
}