*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    font-family: 'Open Sans';
    background-color: black;
    

  
}
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffff;
    list-style: none;
}
#hero h1{
    font-size: 3rem;
    list-style: none;
}
a h1{
    position: relative;
    background: black;
    text-decoration: none;
    padding: 10px 30px;
    transition: 0.5s;
    list-style: none;

}
a{
    list-style: none;
    color: white;
}
.row img{
    display: inline-block;
    animation: cala infinite ease-in-out 3s;
    background: red;
    animation-timing-function: linear;
}
 
@keyframes cala{
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(100%, 0);
    }
  }

a:hover{
    background:var(--clr)
    letter-spacing:0.25em;
    box-shadow :0 0 35px var(--crl); 
}