*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans';
    background-color: rgba(255, 166, 0, 0.514);
    background-image: url(/SRC/img/PictureDown.jpg);
}
.container2{
    display: grid;
    flex-direction: column;
    margin: auto 50px;
    gap: 25px;
    justify-content: center;
}
h1{
    
    color: #FF9052;
  align-items: center;
  justify-content: center;
  margin: auto 45%;
   
}

#black-text-shadow /*sobreado en LEnguage*/ {
    text-shadow: rgb(0, 0, 0) 0 -1px ;
    font-weight: bold;
    font-size: xx-large;
    justify-content: center;

  }

  .GTHF img {
    margin: 3fr, 1fr;
    padding: ;


  }