
.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.photo-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.photo-container img {
  width: 100%;
  height: auto;
}

.price {
  text-align: center;
}
